<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getName()} + ' ' + ${user.getLastname()}"></title>
</head>
<body>
<table>
    <tr>
        <td>ID:</td>
        <td th:text="${user.getId()}"></td>
    </tr>
    <tr>
        <td>Name:</td>
        <td th:text="${user.getName()}"></td>
    </tr>
    <tr>
        <td>Lastname:</td>
        <td th:text="${user.getLastname()}"></td>
    </tr>
    <tr>
        <td>Username:</td>
        <td th:text="${user.getUsername()}"></td>
    </tr>
    <tr>
        <td>Roles:</td>
        <div th:each="role : ${user.getRoles()}">
            <td th:text="${role.getName()}+' '"></td>
        </div>
    </tr>
</table>
<a href="/">Go back to main page</a>
<p><a type="button" th:href="@{/logout}">Logout</a></p>
</body>
</html>